
if SHIELD_JAYE_LEFT

config ZMK_KEYBOARD_NAME
	default "Jaye 44"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_JAYE_LEFT || SHIELD_JAYE_RIGHT

config ZMK_SPLIT
	default y

endif
