#
# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

if BOARD_SKEAN_LEFT

config ZMK_KEYBOARD_NAME
	default "Jaye"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # BOARD_JAYE_LEFT


if BOARD_JAYE_LEFT || BOARD_JAYE_RIGHT

config BOARD
	default "jaye"

config ZMK_SPLIT
	default y

config BT_CTLR
	default BT

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

endif # BOARD_JAYE_LEFT || BOARD_JAYE_RIGHT