#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// #include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |    \    |
            // |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |
            // |   GUI   |    Z    |    X    |    C    |    V    |    B    |                                          |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
            //                     |   GUI   |   DEL   | RETURN  |  SPACE  |                                          |  SHIFT  |   ENTER   |   BSPC  |  R ALT  |

            bindings = <
&kp ESC       &kp Q  &kp W      &kp E      &bootloader   &bt BT_SEL 0   &kp Y           &kp U      &kp I      &kp O              &kp P     &kp LEFT_BRACKET
&kp TAB       &kp A  &kp S      &kp D      &kp F         &bt BT_DISC 0  &kp H           &kp J      &kp K      &kp L              &kp SEMI  &kp SQT
&kp LEFT_GUI  &kp Z  &kp X      &kp C      &kp V         &bt BT_CLR     &kp N           &kp M      &kp COMMA  &kp DOT            &kp FSLH  &to 2
                     &kp GRAVE  &kp LCTRL  &kp LEFT_ALT  &kp SPACE      &kp LEFT_SHIFT  &kp ENTER  &kp BSPC   &kp RIGHT_BRACKET
            >;
        };

        lower_layer {
            bindings = <
&kp ESC        &kp SLASH       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp T      &kp Y            &kp U     &kp I     &kp O      &kp P         &kp BSLH
&kp DOT        &kp LEFT_SHIFT  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp G      &kp PRINTSCREEN  &kp LEFT  &kp UP    &kp RIGHT  &kp DEL       &kp SQT
&kp BACKSLASH  &kp BACKSPACE   &kp N7        &kp N8        &kp N9        &kp B      &kp N            &kp M     &kp DOWN  &kp DOT    &kp C_VOL_DN  &kp C_VOL_UP
                               &kp N0        &kp DEL       &kp RET       &kp SPACE  &kp LEFT_SHIFT   &kp TAB   &kp BSPC  &kp RALT
            >;
        };

        raise_layer {
            bindings = <
&kp ESC     &kp Q  &kp W     &kp E    &kp R    &kp T      &kp Y      &kp U    &kp I      &kp O     &kp P     &kp BSLH
&kp TAB     &kp A  &kp S     &kp D    &kp F    &kp G      &kp H      &kp J    &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHIFT  &kp Z  &kp X     &kp C    &kp V    &kp B      &kp N      &kp M    &kp COMMA  &kp DOT   &kp FSLH  &kp RCTRL
                   &kp LGUI  &kp DEL  &kp RET  &kp SPACE  &kp SPACE  &kp TAB  &kp BSPC   &kp RALT
            >;
        };

        adjust_layer {
            bindings = <
&kp ESC     &kp Q  &kp W     &kp E    &kp R    &kp T      &kp Y      &kp U    &kp I      &kp O     &kp P     &kp BSLH
&kp TAB     &kp A  &kp S     &kp D    &kp F    &kp G      &kp H      &kp J    &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHIFT  &kp Z  &kp X     &kp C    &kp V    &kp B      &kp N      &kp M    &kp COMMA  &kp DOT   &kp FSLH  &kp RCTRL
                   &kp LGUI  &kp DEL  &kp RET  &kp SPACE  &kp SPACE  &kp TAB  &kp BSPC   &kp RALT
            >;
        };
    };
};
